:root {
    --bg: #68808a;
    --board-bg: #bbd5dc;
    --cell-bdr: 4px solid #68808a;
    --hit: rgb(223, 102, 102);
    --miss: rgb(140, 191, 208);
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--bg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    display: grid;
    grid-template-rows: 8vh 0.5fr 1.5fr 0.5fr;
    align-items: center;
    overflow: auto;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    background-color: #333;
    font-size: 30px;
}

.board-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.board {
    justify-self: center;
    background-color: var(--board-bg);
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 3px;
    padding: 0 3px 3px 0;
}

.disabled-board {
    pointer-events: none;
    opacity: 0.5;
}

.cell,
.ship-cell {
    width: 30px;
    height: 30px;
    border: var(--cell-bdr);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#computer-board .cell:hover {
    background-color: rgb(233, 215, 86);
}

.ship {
    background-color: gray;
}

.hit {
    background-color: var(--hit);
}

.miss {
    background-color: var(--miss);
}

.ship-status-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.ship-status {
    padding: 5px;
    border-radius: 20px;
    background-color: #f4f4f4;
    width: 180px;
    text-align: center;
}

.ship-status ul {
    list-style: none;
    padding: 0;
}

.ship-status li {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.ship-status .sunk {
    color: red;
    text-decoration: line-through;
}

.ship-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ship-div {
    display: grid;
    gap: 3px;
}

.ship-cell {
    background: linear-gradient(white, #89bad0);
    /* border: 2px solid rgb(233, 231, 231); */
}

.reset-bttn {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #333;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.reset-bttn:hover {
    box-shadow: none;
}
